/* - - - - - - - - - - - - - - - - - - - - -

 Title :
 Author :
 URL : http://

 Last Updated :

- - - - - - - - - - - - - - - - - - - - - */

body, * {
	font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif !important;
}
